.mynavbar{
    height: 50px;
    background: black;

    color: white;
}

.centerify{
    position: fixed; 
    left: 40%; 
    padding: 10px;
}

.toggler{
    position: fixed; 
    left: 85%; 
    padding: 10px;
}