<div class="container-fluid ">

    <div class="row secondrow">
        <div class="col">
            <div class="row">
                <div class="col">
                    <!-- <i class="fa fa-search positionfixer"></i> -->
                    <input id="searchid" class="form-control searchctrl" [(ngModel)]="searchValue" type="text"
                        placeholder="Search for jobs..." (keyup.enter)="keyupfn($event)" #searchidraw>
                    <i class="fa fa-times positionfixer2" (click)="clearfn()"></i>
                    <div class="thin-line positionfixer3"></div>
                    <i class="fa fa-search positionfixer4" (click)="searchfn(searchidraw.value)"></i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <i class="fa fa-map-marker positionfixer"></i>
                    <div class="input-group">
                        <select class="custom-select selectctrl" id="inputGroupSelect04"
                            aria-label="Example select with button addon" (change)="locSelect($event)">
                            <option value="0" selected>All Location</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Calicut">Calicut</option>
                            <option value="Trivandrum">Trivandrum</option>
                        </select>
                    </div>
                </div>
                <div class="col flexer ">
                    <div>
                        Fresher Only
                    </div>

                    <div>
                        <label class="switch">
                            <input type="checkbox" (change)="fresherFn($event)">
                            <span class="slider round"></span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="titelclass">
                Recent Jobs
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!loaded">
        <div class="col">
            <div class="placement">
                <div class="spinner-border text-success " role="status">
                    <span class="sr-only">Loading...</span>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngFor="let i of jobs" [@fadeAnimation]="'in'">
                <app-jobitem [job]="i"></app-jobitem>
            </div>
        </div>
    </div>
</div>