<div class="container-fluid ">
    <div class="space">
        <div class="row">
            <div class="col">
                <img class="imgctrl" src="../assets/contact2.png" alt="">

            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col">
                <h4>
                    Contact Us
                </h4>

            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col ">
                <h5 class="float-right">
                    <i class="fa fa-envelope"></i>&nbsp; Email &nbsp; &nbsp;
                </h5>

            </div>
            <div class="col">
                temp@jobimate.in
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <h5 class="float-right">
                    <i class="fa fa-phone"></i>&nbsp; Phone&nbsp; &nbsp;
                </h5>

            </div>
            <div class="col">
                9878765454
            </div>
        </div>
    </div>
</div>